:root {
  --primary: #4e4a59;
  --secondary :  #f64adf
}

.nav p.active,
.nav svg.active{
  font-weight: bold;
  color: #75FF00;
}


.navWrapper{
position: fixed;

 width: 90vw;
 margin-left: 5vw;
 height: 70px;
 color: var(--secondary);
 
 border: 1px solid var(--secondary);
 background-color: var(--primary);

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

 margin-top: 10px;

 border-radius: 15px;

 transition: 0.5s ease;

 z-index: 1;
}

.nav{
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navElement{
  color: var(--secondary);
  font-weight: bold;
  font-size: 19px;
}

.navElement div p{
  transition: 0.5s ease;
}

.firstContent{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--primary);
  transition: 0.5s ease;
}

.firstContent__description{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.firstContent__description__movingText{
  position: relative;
  width:100%; 
  height:50px; 
  display: flex; 
  align-items: center; 
  margin: 15px 0; 
}

.firstContent__description__movingText div p{
  font-size: 40px;
  font-weight: bold;
  color: #75FF00;
}

.firstContent__description p {
  width: 550px;
  font-size: 25px;
  color: var(--secondary);
}


.navElement__clickable button{
  background-color: transparent;
  border: 1px solid var(--secondary);
  font-size: 25px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.navElement__clickable button svg{
  color: var(--secondary);
}

.navElement__clickableHouse{
  background-color: transparent;
  border: 1px solid var(--secondary);
  font-size: 25px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;

}

.navElement__clickableHouse svg{
  transition: color 0.2s ease-in;
}

.about{
  width: 100%;
  background-color: var(--secondary);
  transition: 0.5s ease;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 10px;
}

.about__pozaFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about__pozaFlex__imageDiv{
  position: relative;
}

.imageIcons{
  position: absolute;
  bottom: 0; /* Default position for the icons */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.icon{
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  background-color: #75FF00;
  border-radius: 30px;
  
  transition: 1s ease;
}


.icon:nth-of-type(1){
  bottom: -10px;
}
.icon:nth-of-type(2){
  bottom: -20px;
}
.icon:nth-of-type(3){
  bottom: -10px;
}


.icon:hover{
  bottom: 5px;
  background-color: black; 
}

.icon svg{
  width: 40px;
  height: 40px;
  padding: 5px;
  color: white;
}

.about__pozaFlexMovingText{
  height: 20px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__pozaFlexMovingText div p{
  font-size: 20px;
}

.about__pozaFlex div:nth-of-type(3) p{
  font-size: 35px;
}

.about__biography{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__biography__biography{
  width: 800px;
}

.about__biography__informations{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__biography__informations div p span{
  color: white;
  font-weight: bold;
}

.freelanceAnchor{
  cursor: pointer;
  text-decoration: underline;
}
.work{
  background-color: var(--primary);
  transition: 0.5s ease;
}

.workHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary);
  font-weight: bold;
  padding: 10px 50px;
}

.workHeader h1{
  font-size: 2vw;
}

.workHeader span{
  font-size: 1vw;
}

div.slick-track{
  display: flex;
  gap: 5px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  text-align: center;
}

.videoWrapper {
  width: 100%;
  height: 400px; 
  overflow: hidden;
  margin: 0 auto;
}

.video {
  width: 100%;
  height: 100%;
}

.sliderContainer {
  position: relative;
}

.controls {
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;

  align-items: center;
}

.controls button{
  background-color: white;
  opacity: 50%;
  width: 30px;
  height: 30px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.resume{
  height: 100%;
  transition: 0.5s ease;
  background-color: var(--secondary);
  padding: 0 0 20px 0;  
}


.resumeHeader{
  display: flex;
  flex-direction: row;
}

.resumeHeader{
  color: var(--primary);
  font-weight: bold;
  font-size: 2vw;
  padding: 10px 50px;
}
.resumeFlex{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.resumeFlex__education{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #75FF00;
  border-radius: 25px;
  padding: 15px 15px;
  font-weight: bold;
  color: var(--primary);
}

.skillsDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skillsDiv p{
  color: var(--primary);
  width: 50px;
}

.skillsDiv__elements{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 25px;
}

.skillsDiv__slider{
  background-color: #75FF00;
  transition: background-color 0.5s ease;
  height: 10px;
  width: 40vw;
  border-radius: 20px;
}

.skillsDiv__number{
  display: inline-block;
  width: 30%;
  font-weight: bold;
}

.skillsDiv__title{
  font-weight: bold;
}

.sliderWidth {
  background-color: var(--primary);
  height: 100%;
  border-radius: 20px;
}

.skillsDiv__flexDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 40px;
}

.skillsDiv__flexDiv p{
  width: 90%;
}


.contact{
  height: 100%;
  background-color: var(--primary);
  height: 500px;
  transition: 0.5s ease;
}


@media (max-width: 1200px){
  .navWrapper{
    display: none;
  }

  .firstContent{
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 50px 0 0;
  }

  .firstContent__description__movingText div p{
    font-size: 2rem;
  }
  
  .firstContent__description p {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    max-width: 500px;
  }

  .about{
    flex-direction: column;  
  }

  .about__biography__biography{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px;
  }

  .about__biography__informations{
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-align: center;
  }

  .workHeader h1{
    font-size: 5vw;
  }

  .resumeHeader h1{
    font-size: 5vw;
  }

  .workHeader span{
    font-size: 2vw;
  }

  .resumeHeader{
    color: var(--primary);
    font-weight: bold;
    font-size: 2vw;
    padding: 10px 0;
    width: 100%;
  }

  .resumeFlex__education{
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
  }

  .skillsDiv__slider{
    width: 80vw;
  }
  
  .resumeFlex{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
  }
}